/* Global styles come from external css https://codepen.io/GreenSock/pen/JGaKdQ*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  .flex-container {
    /* ... */
  display: flex;
  justify-content: center;
  justify-content: space-around;
  };

  .home-container {
    display: flex;
    justify-content: center;
    justify-content: space-around;
  }

  .transition-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .portfolio-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .grid {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .grid-item {
    border: 1px solid #fff;
  width: 300px;
  height: 300px;
  flex: initial;

  }

  .grid-stuff {
    border: 1px solid #fff;
  width: 300px;
  height: 300px;
  flex: initial;
  }

  h1, h2, h3 {
    font-family: "Signika Negative", sans-serif;
    margin: 10px 0 10px 0;
    color:#f3f2ef;
    font-weight: 400;
  }
  
  h1 { 
    font-size:42px;
  }
  
  h2 {
    font-size:24px;
  }
  
  h3 {
    font-size:22px;
  }

  li {
    color: #1ABC9C;;
  }

  .btn {
    margin-bottom: 5%;
  }

  .info {
    background-color:#333;
    width:100%;
    height:200px;
  }

  .words {
    color:honeydew;
    padding: 25px 25px;
    font-family: "Signika Negative", sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    word-wrap: normal;
  }

  .word {
    color:honeydew;
    font-family: "Signika Negative", sans-serif;
    text-transform: uppercase;
  }
  
  p{
    line-height:22px;
    margin-bottom:16px;  
    color: honeydew;
  }
  
  a {
    color:#1ABC9C;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  
  .demo {
    height:100%;
  
  }

.demo {
	width: 100%;
  height: 70px;

	background-color: #333;
	padding: 8px;
}
.bar{
	background-color: #1ABC9C; 
	color:black; 
	position:relative; 
	width:100%; 
	height:10px;
  }
  
#logo {
	position: relative;
    height: 60px;
	background: url(../favicon_io/favicon.ico)no-repeat;
}

#logo:hover {
  height: 100%;
  width:5%;
  border-color: #57a818 ;
  background-image: -webkit-linear-gradient(top, #57a818, #4d9916);
    background-image: -moz-linear-gradient(top, #57a818, #4d9916);
    background-image: -ms-linear-gradient(top, #57a818, #4d9916);
    background-image: -o-linear-gradient(top, #57a818, #4d9916);
    background-image: linear-gradient(to bottom, #57a818, #4d9916);
}
  
  .green{
    background-color:#1ABC9C;
  }

  
  .orange {
    background-color:rgb(54, 134, 94);
  }
  .grey {
    background-color:rgb(48, 109, 78);
  }

  .pink {
      background-color:rgb(52, 104, 78);
  }

  .box {
    width:60px;
    height:30px;
    position:relative;
    border-radius:6px;
    margin-top:4px;
    display:inline-block;
    border-radius: 4px;
    font-family: "Signika Negative", sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
    font-size: 10px;
    line-height: 18px;
    text-align: center;

  }

  .box:hover {
    background: #57a818;
    background-image: -webkit-linear-gradient(top, #57a818, #4d9916);
    background-image: -moz-linear-gradient(top, #57a818, #4d9916);
    background-image: -ms-linear-gradient(top, #57a818, #4d9916);
    background-image: -o-linear-gradient(top, #57a818, #4d9916);
    background-image: linear-gradient(to bottom, #57a818, #4d9916);
    text-shadow: 0px 1px 0px #32610e;
    -webkit-box-shadow: 0px 1px 0px fefefe;
    -moz-box-shadow: 0px 1px 0px fefefe;
    box-shadow: 0px 1px 0px fefefe;
    color: #ffffff;
    text-decoration: none;
  }

  .link:hover {
    background: #57a818;
    background-image: -webkit-linear-gradient(top, #57a818, #4d9916);
    background-image: -moz-linear-gradient(top, #57a818, #4d9916);
    background-image: -ms-linear-gradient(top, #57a818, #4d9916);
    background-image: -o-linear-gradient(top, #57a818, #4d9916);
    background-image: linear-gradient(to bottom, #57a818, #4d9916);
    text-shadow: 0px 1px 0px #32610e;
    -webkit-box-shadow: 0px 1px 0px fefefe;
    -moz-box-shadow: 0px 1px 0px fefefe;
    box-shadow: 0px 1px 0px fefefe;
    color: #ffffff;
    text-decoration: none;

  }
  
  /* Arrows */

  .arrow {
    position: absolute;
    padding: 2rem; /* Arrow size */
    box-shadow: 1px -1px 0 1px rgb(52, 104, 78) inset;
    -webkit-box-shadow: 2px -2px rgb(52, 104, 78) inset;
    border: solid transparent;
    border-width: 0 0 2rem 2rem;
    transition: 0.2s;
  }
  
  .arrow:hover {
    box-shadow: 2px -2px 0 2px #57a818 inset;
    -webkit-box-shadow: 4px -4px #57a818 inset;
  }
  
  .arrow-right { 
      transform:rotate(225deg) }

  .arrow-left  { 
      transform:rotate(45deg) }
  
  .arrow { 
    top:50%;
    margin:-67px 0 0 -67px;
    left:5% }
  a:nth-child(2) { left:95% }
  

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  background: #2C3E50;
}

/* .about {
    background:#333;
    text-align: center; 
    position: absolute;
  top: 30%;
  left: 10%;
  width: 80%;
  height: 10%;
  padding:10%
} */

/* Transition*/

/* body {
    overflow: hidden;
  } */

.transition-portfolio {
  opacity: 0;
}

/* Media queries */
@media only screen and (max-width: 414px) {
  .arrow {
    padding: 5%; /* Arrow size */
    box-shadow: 1px -1px 0 1px rgb(52, 104, 78) inset;
    -webkit-box-shadow: 2px -2px rgb(52, 104, 78) inset;
    border: solid transparent;
    border-width: 0 0 2rem 2rem;
    transition: 0.2s;
  }

  .arrow { 
    top:60%;
    
    left:10% }
  a:nth-child(2) { left:110% }

  .words {
    
    padding: 5px 5px;
 
    font-weight: 400;
   
    font-size: 30px;

  }

  .about-me {
    font-size: 12px;
  }

  .box {
    width:50px;
    height:25px;
    font-weight: 400;
    font-size: 8px;
    line-height: 12px;
  };

  .demo {
    height:10px;
  
  }

.demo {
  height: 50px;
}

.bar{
	height:5px;
  }
  
#logo {
	position: relative;
	background: url(../favicon_io/favicon-32x32.png)no-repeat;
}

/* Attempting to animate SVG name */
.path {
  stroke-dasharray: 100;
  animation: dash 5s linear ;

}

@keyframes dash {
  to {
    stroke-dashoffset: 1000;
  }
}

}


  
  
  